div(block="article-header").clearfix
  ul(elem="list").lsn.pl0.mb0.pull-left
    li(elem="item").dib
      span(elem="icon").icon-user
      a(href="#" elem="link") #{randomUser()}
    li(elem="item").dib
      span(elem="icon").icon-calendar
      a(href="#" elem="link") #{randomDate()}
    li(elem="item").dib
      span(elem="icon").icon-eye
      a(href="#" elem="link") #{randomInt(1300, 15)}
    li(elem="item").dib
      span(elem="icon").icon-comment
      a(href="#" elem="link") #{randomInt(1300, 15)}
    li(elem="item").dib
      span(elem="icon").icon-folder-open
      a(href="#" elem="link") Шаблоны

  include ../admin-edit/_admin-edit
