div(block="news-last")
  -for(var i = 0; i < 10; i++)
    div(elem="item")
      .row(elem="row")
        .col-md-4(elem="col")
          img(src="#{randomImage(209, 165)}" alt="last news img" elem="img").img-responsive
        .col-md-8(elem="col")
          h2(elem="title").text-bold.db
            a(href="#").dark-blue-link.db #{randomText()}
          include ../news-metadata/_news-metadata
          p(elem="text") #{randomText()}
          //- a(href="#" elem="read-more").link Читать далее...
