.row(block="news-metadata")
  .col-sm-4.col-md-4(elem="col")
    a(href="#" elem="text").link.text-overflow <span class="icon-user" elem="ico"></span> #{getUserName()}
  .col-sm-4.col-md-4(elem="col")
    a(href="#" elem="text").link.text-overflow <span class="icon-calendar" elem="ico"></span> #{getRandomDate()}
  .col-sm-4.col-md-4(elem="col")
    a(href="#" data-toggle="tooltip" data-placement="top" title="Тестовый текст" elem="text").link.text-overflow <span class="icon-folder-open" elem="ico"></span> #{getWord()}
