div(block="news-important")
  .row(elem="row")
    .col-md-6(elem="col")
      img(src="#{randomImage(328, 258)}" alt="tab news image" elem="img").img-responsive
    .col-md-6(elem="col")
      h2.text-bold(elem="title")
        a(href="#" elem="link").db.dark-blue-link #{randomText()}
      include ../news-metadata/_news-metadata
      p(elem="description") #{randomText()}
      a(href="#" role="button" elem="button").btn.btn-orange.db Читать подробнее
